.ws-settings{
    .nav-bar-area {
        position: relative;
    }

    .more-menu{
        position: absolute;
        top: 0;
        right: 50px;
    }
    .more-icon {
        font-size: 50px;
    }
}